on: push

name: Build and test
jobs:
  buildDockerImage:
    name: Build docker image
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Build docker image
      run: docker build -t yace --build-arg VERSION=${{github.event.release.tag_name}} .
