on: push

name: Build and test
jobs:
  buildDockerImage:
    name: Build docker image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Build docker image
        run: docker build -t yace --build-arg VERSION=${GITHUB_REF#refs/tags/} .
